{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-4">Personal Information</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Name</h2>
            <p>Akash Singh</p>
        </div>
        <div class="col-md-6">
            <h2>College Details</h2>
            <p>B.E. in Computer Science and Engineering from Chandigarh University, Punjab</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Work Details</h2>
            <p>Currently working with DevOps tools and technologies.</p>
        </div>
        <div class="col-md-6">
            <h2>Address</h2>
            <p>Your Address Here</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Summary</h2>
            <p>Dedicated and passionate individual with experience in software development and DevOps practices.</p>
        </div>
    </div>
</div>
{% endblock %}
